*.DS_Store
*.swp
*.swo
*.pyc
*.avi

.idea/
__pycache__/
checkpoints/

datasets/__pycache__/

models/__pycache__/

torchcv/metric/__pycache__/
torchcv/optim_lrscheduler/__pycache__/torchcv/transforms/__pycache__/torchcv/utils_project/__pycache__/
torchcv/utils_vis/__pycache__/
